<%- include ('partials/header'); -%>


<div class="main-content">
    <h2><%= baseCurrency %> <%= amountToConvert %> is equal to </h2>
    <h1><%= finalCurrency %> <%= finalResult %></h1>
</div>



<%- include ('partials/footer'); -%>